/.idea/
/sf_ds.iml
/venv/
/notebooks/.ipynb_checkpoints/
/notebooks/PANDAS/.ipynb_checkpoints/
/notebooks/PYTHON BASIC/.ipynb_checkpoints/

/notebooks/ Юнит 2. Разведывательный анализ данных /.ipynb_checkpoints/
